body {
  background: rgb(255,240,254);
}

nav {
  &.navbar {
    .navbar-brand {
      color: $brown;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $brown;
        }
      }
    }
  }
}

.callout {
  .svg-inline--fa {
    &.heading {
      background: $pink;
    }
  }
  h5 {
    span {
      background: none;
    }
  }
}

.footer {
  background: rgb(255,240,254);
}
